<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      evRoute
    </title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <script
      src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"
    ></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Header -->
    <header>
      <h1>evRoute</h1>
      <!-- Navigation -->
      <nav>
        <ul>
          {{#if logged_in}}
            <li><a href="/map">Map</a></li>
            <li><a href="/changePassword">Change Password</a></li>
            <li><a id="logout" href="#">Logout</a></li>
          {{else}}
            <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>

    <!-- Main -->
    <main>
      {{{body}}}
    </main>

    <!-- Footer -->
    <footer>
      &copy; 2022 Team Name
    </footer>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

  </body>
</html>