<form id="createAccountForm">
  <div>
    <div>
      Create Account
    </div>
    <div>
      <label for="txtUserName">User Name</label>
      <input type="text" id="txtUserName" />
    </div>
    <div class="p-2">
      <label for="txtEmail">Email</label>
      <input type="text" id="txtEmail" />
    </div>
    <div>
      <label for="txtPassword">Password</label>
      <input type="password" id="txtPassword" />
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </div>
</form>

<script src="/js/createAccount.js"></script>