<!-- !into section -->
<div
  class="lg:h-screen bg-gradient-to-t from-indigo-200 flex h-screen items-center justify-center bg-blue-500 p-8"
>
  <!-- !navbar  -->
  <nav></nav>

  <!-- <h1 class="font-mont font-semibold top-0 left-0 right-0 z-20 inline-flex justify-center space-x-20 tracking-wider text-white uppercase lg:top-20 p-20 ">Welcome to my Site!</h1> -->
  <div class="bg-white rounded-lg shadow-md lg:col-span-2">
    <img
      src="https://hbr.org/resources/images/article_assets/2014/10/Mar20_05_1187745190.jpg"
      alt=""
      class="object-cover w-full rounded-t-lg h-80"
    />
    <div class="p-8">
      <div class="rounded-lg bg-slate-300 p-4 shadow-2xl sm:flex">
        <div class="flex justify-items-center gap-2">
          <img
            class="h-15 w-15 rounded-full object-cover p-3"
            src="https://image.shutterstock.com/image-vector/stream-binary-matrix-code-on-600w-1043394892.jpg"
          />
          <span> D.A.Lederman </span>
        </div>
        <div class="mt-4">
          <p
            class="italic font-thin mt-2 flex flex-col justify-between py-6 space-y-6 md:pr-10"
          >
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Asperiores, voluptatibus corrupti quod similique, doloribus culpa
            delectus reprehenderit voluptatum perspiciatis assumenda quaerat.
            Autem, tenetur. Animi officia, inventore modi obcaecati maiores
            ipsa."
          </p>
          <span class="text-sm text-emerald-900">Jiriaya Sensei</span>
        </div>
      </div>
      <div
        class="absolute bottom-0 left-0 right-0 z-20 inline-flex justify-center space-x-20 font-bold tracking-wide text-gray-600 uppercase lg:bottom-20 p-20"
      >
        <a href="#projects" class="text-slate-400 hover:text-white">Projects</a>
        <a href="#links" class="text-slate-400 hover:text-black">Links</a>
        <a href="#contact" class="text-slate-400 hover:text-white">Contact</a>
      </div>
    </div>
  </div>
</div>