<div class="vstack gap-2">
  <div class="col-11 col-md-5 col-lg-4 col-xl-3 p-2 mt-2 mx-auto">
    <form id="loginForm">
      <div class="card border-success">
        <div class="card-header bg-success text-white">
          Login
        </div>
        <div class="p-2">
          <label for="txtEmail">Email</label>
          <input class="form-control" type="text" id="txtEmail" />
        </div>
        <div class="p-2">
          <label for="txtPassword">Password</label>
          <input class="form-control" type="password" id="txtPassword" />
        </div>
        <div class="p-2 mx-auto">
          <button class="btn btn-success" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="col-11 col-md-5 col-lg-4 col-xl-3 mb-2 mx-auto">
  <div class="d-flex justify-content-center mx-auto">
    <a class="btn btn-success" href="/createAccount">Create Account</a>
  </div>
</div>

<script src="/js/login.js"></script>