<div>
  <div>
    <form id="loginForm">
      <div>
        <div>
          Login
        </div>
        <div>
          <label for="txtEmail">Email</label>
          <input type="text" id="txtEmail" />
        </div>
        <div>
          <label for="txtPassword">Password</label>
          <input type="password" id="txtPassword" />
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div>
  <div>
    <a href="/createAccount">Create Account</a>
  </div>
</div>

<script src="/js/login.js"></script>