<div class="vstack gap-3">
    <form id="saveAddress" class="col-11 col-md-5 col-lg-4 col-xl-3 p-3 my-2 mx-auto" action="/", method="POST">
        <div class="card">
            <div id="txtProfileName" class="card-header bg-primary text-bg-primary">
                Change Default Address
            </div>
            <div class="ps-3 my-2">
                <p>Name:</p>
                <h3 class="profileName">{{user.name}}</h3>
            </div>
            <div class="ps-3 my-1">
                <p>Email:</p>
                <h2 class="profileEmail">{{user.email}}</h2>
            </div>
            
                <h3 class="saveAddress-title ps-3 my-2">Address</h3>
            <div class="ps-3 my-1">
                <input id="txtAddress" class="mb-2" type="text" placeholder="New Address" value="{{user.user_profile.address}}"> 
            </div>
            <div class="p-3 mb-3 mx-auto">
                <input id="btnSaveAddress" class="btn btn-primary text-bg-primary mx-auto" type="submit" value="submit">
                <a href="/changePassword" class="btn btn-primary text-bg-primary mx-auto">Change Password</a>
            </div>  
        </div>
    </form>
</div>

<script src="/js/profile.js"></script>