<div class="vstack gap-2">
    <form id="saveAddress" class="col-11 col-md-5 col-lg-4 col-xl-3 p-2 my-2 mx-auto" action="/", method="POST">
        <div class="card">
            <div id="txtProfileName" class="card-header bg-primary text-bg-primary">
                Change Default Address
            </div>
            <div class="p-2">
                <p>Name:</p>
                <h3 class="profileName">{{user.name}}</h3>
            </div>
            <div class="p-2">
                <p>Email:</p>
                <h2 class="email">{{user.email}}</h2>
            </div>
            
                <h3 class="saveAddress-title p-2">Address</h3>
            <div class="p-2">
                <input id="txtAddress" class="mb-2" type="text" placeholder="New Address" value="{{user.user_profile.address}}"> 
            </div>
            <div class="p-2 mx-auto">
                <input id="btnSaveAddress" class="btn btn-primary text-bg-primary mx-auto" type="submit" value="submit">
            </div>
        </div>
    </form>
</div>

<script src="/js/profile.js"></script>